pkgbase = satr-bin
	pkgdesc = Project workspace terminal for AI coding CLIs
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/Mo999salah/Satr
	arch = x86_64
	license = MIT
	depends = libx11
	depends = libice
	depends = libsm
	depends = libxrandr
	depends = libxi
	depends = libxcursor
	depends = fontconfig
	depends = freetype2
	depends = icu
	depends = openssl
	depends = zlib
	provides = satr
	conflicts = satr
	options = !strip
	options = !debug
	source = https://github.com/Mo999salah/Satr/releases/download/v0.5.0/Satr-0.5.0-linux-x64.tar.gz
	source = satr.desktop
	sha256sums = 280482b1b295406ef26c76ff0aa343b5cb268894601dd4fab0b77ddd08417e92
	sha256sums = 25c59e5e3b2d57cff1b228c25386d221182c9a3185227858a87dee46dcdd144e

pkgname = satr-bin
