pkgbase = satr-bin
	pkgdesc = Project workspace terminal for AI coding CLIs
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/Mo999salah/Satr
	arch = x86_64
	license = MIT
	depends = libx11
	depends = libice
	depends = libsm
	depends = libxrandr
	depends = libxi
	depends = libxcursor
	depends = fontconfig
	depends = freetype2
	depends = icu
	depends = openssl
	depends = zlib
	provides = satr
	conflicts = satr
	options = !strip
	options = !debug
	source = https://github.com/Mo999salah/Satr/releases/download/v0.4.0/Satr-0.4.0-linux-x64.tar.gz
	source = satr.desktop
	sha256sums = 92cbf9fe1c64eb52c95856777fbd62cb0536e6eb9aabad793cf2aea52a4d7268
	sha256sums = b825c1dd21f688af13bab2c719d270e4b94b0309fb63410ae55fb2b862bb0af1

pkgname = satr-bin
