[Desktop Entry]
Type=Application
Name=Satr
Comment=Plain terminal for shell commands
Exec=/usr/bin/satr
Terminal=false
Categories=System;TerminalEmulator;
StartupWMClass=Satr
